@page
@model AuditApplication.Pages.AuditTemplates.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditTemplate[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AuditTemplate) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <ul>
                @foreach (var section in item.Sections)
                {
                <li>
                    @(section.Name)
                    <ul>
                        @foreach (var question in section.Questions)
                        {
                        <li>@question.Text</li>
                        }
                    </ul>
                </li>
                }
            </ul>
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <button class="btn btn-danger btn-sm delete-template" data-id="@item.Id" data-name="@item.Name">Delete</button>
        </td>
    </tr>
    }
    </tbody>
</table>
